@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Deposit Test</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Deposit">EV Demo</a>
                <a class="d-inline-flex align-items-center nav-link text-primary font-weight-bold" asp-controller="Home" asp-action="StatisticalInvoices"><ion-icon name="bar-chart-outline"></ion-icon><span class="ml-1">@Localizer["Transaction history"].Value</span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 flex-row justify-content-xl-end">
                        @*<li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">Số dư: <span class="text-danger font-weight-bold">0 VNĐ</span></a>
                            </li>*@
                        <li class="nav-item">
                            @if (User.Identity.Name != null)
                            {
                                <div class="dropdown" style="cursor:pointer">
                                    <span id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <a class="nav-link text-dark">@Localizer["Account"]: <span class="d-inline-flex align-items-center align-content-lg-center text-primary font-weight-bold">@User.Identity.Name <ion-icon name="caret-down-outline"></ion-icon></span></a>
                                    </span>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item text-dark" asp-controller="Auth" asp-action="Logout">@Localizer["Logout"]</a>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">@Localizer["Account"]: <span class="text-primary font-weight-bold">Vãng lai</span></a>
                            }
                        </li>
                        <li class="nav-item">
                            @await Html.PartialAsync("_CulturePartial")
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Recharge_Test - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await Component.InvokeAsync("Notyf")
</body>
</html>
